body{
    background-color: black;
    margin:0px;
    padding: 0px;
}
.container
{
    box-sizing: border-box;
    border: 2px solid #1DA1F2;
    border-radius: 30px;
    background-color: #1DA1F2;
    width: 70vw;
    height: 70vh;
    margin: 15vh auto 15vh auto;
}
.box{
    box-sizing: border-box;
    background-color: white;
    width: 49vw;
    height: 49vh;
    margin: 10.5vh auto;
}
.box
{
    padding: 0px;
    border: 2px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
}
#tweetme
{
    display: inline-block;
    width: 3vw;
    height: 5vh;
    border-bottom-left-radius: 30px;
    
    
}
.number{
    box-sizing: border-box;
    display: inline-block;
    width: 3vw;
    margin: 0px;
    position: absolute;
    right: 0vw;
    border-bottom-left-radius: 30px;
    
}
.text{
   display: inline-block;
   height: 30vh;
   position: absolute;
   top: 5vh;
   width: 48.5vw;
   font-family: 'Love Light', cursive;
   font-size: 2em;
}
#nquotes
{
    display: inline-block;
  position: absolute;
  bottom: 0vh;
  width: 48.8vw;
  font-size: 1.7em;
    background-color: rgb(13, 13, 162);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
#fas{
    position: absolute;
    left: 3vw;
}
#quotes{
    position: absolute;
    top: 3vh;
}
#author{
    position: absolute;
    top:20vh;
    right: 0px;
}


